* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  position: relative;
}

.main {
  background-color: rgb(225, 255, 143);
  min-height: 800px;
}

.main-content {
  padding-top: 196px;
}
.main-content__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.main-content__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 48px;
}
.main-content__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  width: 247px;
  height: 66px;
}
.main-content__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.star-1 {
  position: absolute;
  top: 94px;
  left: 200px;
}

.star-2 {
  position: absolute;
  top: 69px;
  left: 275px;
}

.star-3 {
  position: absolute;
  top: 562px;
  right: 543px;
}

.star-4 {
  position: absolute;
  bottom: 422px;
  left: 1299px;
}

.star-5 {
  position: absolute;
  top: 602px;
  right: 443px;
}

.about-games {
  background-color: rgb(32, 32, 39);
  min-height: 800px;
}
.about-games__title-comp {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
  padding-bottom: 24px;
}
.about-games__title-mob {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
  padding-bottom: 24px;
  display: none;
}
.about-games__description {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 64px;
}
.about-games__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}

.games-link {
  display: flex;
  text-decoration: none;
}

.games:hover {
  transform: scale(1.1);
}

.games {
  width: 378px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
.games__img {
  border-radius: 30px;
}
.games__number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 111px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  margin-top: 32px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.games__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-left: 32px;
  margin-bottom: 36px;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  min-height: 3310px;
  padding-bottom: 144px;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.mini-games__content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.m-games-link {
  text-decoration: none;
}

.m-games {
  width: 1200px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.m-games__img {
  border-radius: 30px;
}
.m-games__about {
  display: flex;
  flex-direction: column;
}
.m-games__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  padding-top: 48px;
  padding-left: 48px;
  padding-bottom: 24px;
}
.m-games__discription {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding-left: 48px;
  padding-bottom: 36px;
}
.m-games__button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 48px;
}
.m-games__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.odd {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__content {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 767px) {
  body {
    max-width: 100%;
  }
  .star-1 {
    position: absolute;
    top: 97px;
    left: 37px;
  }
  .star-2 {
    position: absolute;
    top: 64px;
    left: 91px;
  }
  .star-3 {
    position: absolute;
    top: 614px;
    right: 106px;
  }
  .star-4 {
    position: absolute;
    display: none;
  }
  .star-5 {
    position: absolute;
    top: 630px;
    right: 34px;
  }
  .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 17px;
    padding-right: 17px;
  }
  .main-content__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .main-content__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 17px;
  }
  .about-games {
    display: none;
    padding-left: 17px;
  }
  .about-games__title-comp {
    display: none;
  }
  .about-games__title-mob {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about-games__description {
    display: none;
  }
  .m-games {
    flex-direction: column;
    width: 100%;
    max-width: 736px;
  }
  .odd {
    flex-direction: column;
  }
  .mini-games__content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mini-games__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-left: 16px;
  }
  .m-games__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }
  .m-games__discription {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .m-games__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    margin-bottom: 32px;
  }
  .footer__content {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
@media (max-width: 415px) {
  .games {
    width: 96%;
  }
  .games__img {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .m-games {
    max-width: 393px;
  }
}
@media (max-width: 375px) {
  .m-games {
    max-width: 343px;
  }
  .m-games__button {
    width: 235px;
  }
}
@media (max-width: 320px) {
  .m-games {
    max-width: 288px;
  }
  .m-games__button {
    width: 180px;
  }
  .m-games__name {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
  }
  .m-games__discription {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */